<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>热菜</title>
<link rel="stylesheet" href="css/common.css"/>
<link rel="stylesheet" href="css/detail.css"/>
</head>
<body ng-app="myApp" ng-controller="detail">
<div id="detail">
  <div class="top">
    <img class="title" ng-src="{{title}}">
    <div class="btns">
      <div class="confirm" ng-click="confrim()"></div>
      <div class="back" ng-click="back()"></div>
    </div>
  </div>
  <div class="count">
    可选 <span ng-bind="max"></span> 道, 已选 <span ng-bind="select"></span>, 共计 <span ng-bind="count"></span> 道
  </div>
  <ul class="list">
    <li class="item  {{($index+1)%3==0?'cr':''}} " ng-repeat="x in albums" ng-click="selected($index,x)" index="{{$index}}">
      <img ng-src="{{x.img}}" alt=""/>
      <div class="{{highLight(x.img)==true?'checked':''}}">
      </div>
    </li>
  </ul>
</div>
<div id="warning">

</div>
<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
<script src="js/detail.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
